.writingReview {
  max-width: 1080px;
  margin: 24px auto;
  .lesson {
    border: 2px solid rgba(224, 224, 224, 1);
    margin-bottom: 16px;
    .lesson-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      border-bottom: 2px solid #8585851a;
      background-color: #fafaf9;
      .lesson-title {
        font-size: 20px;
      }
    }
    .lesson-body {
      display: flex;
      .question_intro {
        font-weight: 500;
        color: #c49275;
        padding: 8px 0 24px;
        display: flex;
        align-items: center;
        svg {
          padding-right: 8px;
        }
      }
      .lesson-body-left {
        width: 50%;
        padding: 8px 16px;
        border-right: 1px solid #8585851a;
      }
      .lesson-body-right {
        width: 50%;
        padding: 8px 16px;
        border-left: 1px solid #8585851a;
        .question-option {
          padding-left: 16px;
        }
        form {
          textarea {
            width: 100%;
            margin-top: 24px;
            border: 2px solid #8585851a;
            resize: none;
            border-radius: 4px;
            outline: none;
            padding: 8px;
          }
          button {
            width: 100%;
            background-color: #777;
            border: none;
            color: #fff;
            height: 40px;
            border-radius: 4px;
            margin-top: 8px;
            cursor: not-allowed;
          }
          .submittedAnswer_btn {
            background-color: #777;
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .tasks {
    .task-container {
      box-shadow: 2px 4px 10px 1px rgb(201 201 201 / 56%);
      padding: 20px;
      margin: 32px 0;
      .task-title {
        font-size: 18px;
        color: gray;
      }
      form {
        height: 100%;
        .formInput {
          .selections {
            display: flex;
            .selection {
              select {
                border: none;
                background-color: #7451f8;
                color: #fff;
                height: 40px;
                border-radius: 4px;
                margin-right: 8px;
                padding: 0 4px;
                width: 160px;
                outline: none;
              }
            }
          }
          .classRoom_container {
            // border: 1px solid rgba(224, 224, 224, 1);
            color: rgba(0, 0, 0, 0.87);
            border-radius: 4px;
            max-width: 1200px;
            margin-top: 16px;
            .classRoom_header {
              p {
                margin-bottom: 16px;
              }
              align-items: center;
              justify-content: space-between;
            }
            .classRoom_middle {
              border: 1px solid rgb(94, 93, 93);
              display: flex;
              flex-direction: column;
              padding: 32px;
              margin: 16px 0;
              .question-container {
                margin: 0;
              }
              .question-middle {
                margin: 16px 0;
              }
              .question-bottom {
                display: flex;
                button {
                  margin-left: 8px;
                  padding: 0 16px;
                }
              }
            }
            .classRoom_bottom {
              .classRoom_bottom-text {
                margin-bottom: 16px;
                display: flex;
              }
              .bold {
                font-weight: bold;
              }
              .space {
                padding: 0 6px;
              }
              textarea {
                width: 100%;
                outline: none;
                resize: none;
                height: 240px;
                padding: 4px;
              }
            }
          }
        }
        .update_form {
          height: 100%;
        }
      }
    }
  }
  .review-container {
    button {
      width: 160px;
      border: none;
      background-color: teal;
      border-radius: 4px;
      color: #fff;
      padding: 8px;
      margin-right: 8px;
      margin-bottom: 16px;
    }
    iframe {
      height: 1160px;
      border: none;
    }
    // label {
    //   display: flex;
    //   svg {
    //     margin-left: 8px;
    //     cursor: pointer;
    //   }
    // }
    .review-comments {
      margin-top: 16px;
      width: 100%;
      textarea {
        width: 100%;
        border: 2px solid rgba(224, 224, 224, 1);
        resize: none;
        outline: none;
        padding: 8px;
        height: 240px;
      }
    }
  }
  // button {
  //   width: 100%;
  //   background-color: #c49275;
  //   border: none;
  //   color: #fff;
  //   height: 40px;
  //   border-radius: 4px;
  //   cursor: pointer;
  // }
}
