.celpipSpeaking {
  .display-area {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    #task {
      .lesson {
        width: 960px;
        margin: 24px auto;
        border: 2px solid rgba(107, 104, 104, 0.1019607843);
        .lesson-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 16px;
          border-bottom: 2px solid rgba(133, 133, 133, 0.1019607843);
          background-color: #fafaf9;
          .leasson-title {
            font-size: 20px;
          }
        }
        .lesson-body {
          display: block !important;
          padding: 20px;
          hr {
            border-top: 1px solid rgba(107, 104, 104, 0.8);
            border-bottom: 1px solid rgba(107, 104, 104, 0.8);
            width: 100%;
          }
          .lesson-timer {
            background-color: #d9dce1;
            width: 350px;
            margin: 10px auto;
            border-radius: 10px;
            padding: 20px 30px 20px 20px;
            display: flex;
            .icon {
              svg {
                color: #a9a9a9;
                width: 50px;
                height: 50px;
              }
            }
            .timer-text {
              margin-left: 8px;
              text-align: center;
              width: calc(100% - 50px);
            }
          }
          .lesson-question {
            display: flex;
          }
        }
      }
    }
  }
  .review-comments {
    width: 960px;
    margin: 24px auto;
    margin-top: 16px;
    textarea {
      width: 100%;
      border: 2px solid rgba(224, 224, 224, 1);
      resize: none;
      outline: none;
      padding: 8px;
      height: 240px;
    }
  }
  button {
    width: 100%;
    background-color: #c49275;
    border: none;
    color: #fff;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
  }
  .part-title {
    width: 960px;
    margin: 24px auto 0 auto;
    font-size: 24px;
    color: gray;
  }
}